<% if @plans.empty? %>
  <p> Não há planos cadastrados </p>
<% else %>
  <% @plans.each do |plan| %>
    <div id="plan-<%= plan.id %>">
      <dl>
        <dt>Nome:</dt>
        <dd><%= plan.name %></dd>
        <dt>Mensalidade:</dt>
        <dd><%= plan.monthly_rate %></dd>
        <dt>Quantidade de aulas por mês:</dt>
        <dd><%= plan.monthly_class_limit %></dd>
        <dt>Aulas abrangidas:</dt>
        <% plan.class_categories.each do |cc| %>
          <dd><%= cc.name %></dd>
        </div>
      </dl>
    <% end %>
  <% end %>
  <% if @payment_methods.any? %>
    <p>Meios de pagamentos:</p>
    <% @payment_methods.each do |pm| %>
      <%= pm.name %>
    <% end %>
  <% else %>
    <p> Não é possível contratar planos agora </p>
  <% end %>
<% end %>
<% if user_signed_in? && current_user.admin? %>
  <%= link_to 'Cadastrar Categoria de Aulas', new_class_category_path %>
  <%= link_to 'Categorias de Aula', class_categories_path %>
<% end %>
