<% if @plans.empty? %>
  <p> Não há planos cadastrados </p>
<% else %>
  <div class="row row-cols-1 row-cols-md-2 g-4">
    <% @plans.each do |plan| %>
      <div class="col">
        <div class="card" id="plan-<%= plan.id %>">
          <div class="card-body">
            <h5 class="card-title"><%= link_to plan.name, plan_path(plan) %></h5>
            <p class="card-text"><%= plan.description %></p>
            <p class="card-text">Mensalidade: <%= number_to_currency(plan.monthly_rate) %></p>
            <p class="card-text">Quantidade de aulas por mês: <%= plan.monthly_class_limit %></p>
            <p class="card-text">Aulas abrangidas:
              <ul>
                <% plan.class_categories.each do |cc| %>
                  <li><%= cc.name %></li>
                <% end %>
              </ul>
            </p>
          </div>
        </div>  
      </div>
    <% end %>
  </div>
<% end %>

<% if @payment_methods.any? %>
  <h3 class="mt-2">Meios de pagamentos:</h3>
  <ul>
    <% @payment_methods.each do |pm| %>
      <li><%= pm.name %></li>
    <% end %>
  </ul>
<% else %>
  <p> Não é possível contratar planos agora </p>
<% end %>

