<h1>Comprar plano</h1>

<% if @enrollment.errors.any? %>
  <div>
    <% @enrollment.errors.full_messages.each do |error| %>
      <p><%= error %></p>
    <% end %>
  </div>
<% end %>

<%= form_with url: enrollments_path, method: :post do %>
  <% label_tag :customer %>
  <%= hidden_field_tag :customer, @customer.token %>

  <h4>Escolha seu Plano</h4>
  <% @plans.each do |plan| %>
    <div style="border: 1px solid black">
      <ul>
        <% plan.class_categories.each do |category| %>
          <li><%= category.name %></li>
        <% end %>
      </ul>
      <%= label_tag "plan_#{plan.id}", plan.name %>
      <%= radio_button_tag :plan, plan.id %>

      Valor Mensal <%= number_to_currency(plan.monthly_rate) %>
      Quantidade de Aulas <%= plan.monthly_class_limit %>
    </div>
  <% end %>

  <h4>Formas de Pagamento</h4>
  <% @payment_methods.each do |method| %>
    <%= label_tag "method_#{method.code}", method.name %>
    <%= radio_button_tag :method, method.code %>
    <br>
  <% end %>
  <br>
  <%= submit_tag 'Comprar Plano', class: 'btn btn-success' %>
<% end %>