<% if flash[:notice] %>
  <div>
    <%= flash[:notice] %>
    <% if @class_category.errors.any? %>
      <% @class_category.errors.full_messages.each do |m| %>
        <p> <%= m %> </p>
      <% end %>
    <% end %>
  </div>
<% end %>
<h1> Cadastrar categoria de aula </h1>
<%= form_with model: @class_category do |f| %>
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div>
    <%= f.label :responsible_teacher %>
    <%= f.select :responsible_teacher, @responsible_teachers %>
  </div>
  <div>
    <%= f.label 'Ãcone da categoria' %>
    <%= f.file_field :icon %>
  </div>
  <div>
    <%= f.submit 'Cadastrar Categoria de Aula' %>
  </div>
<% end %>
