<h1> <%= @class_category.name %> </h1>
<h3>Descrição:</h3>
<p> <%= @class_category.description %> </p>
<h3>Professor Responsável:</h3>
<p> <%= @class_category.responsible_teacher %> </p>
<h3>ícone:</h3>
<% if @class_category.icon.attached? %>
  <%= image_tag @class_category.icon %>
<% end %>
<%= link_to 'Editar Categoria de Aula' %>
<%= link_to 'Excluir Categoria de Aula' %>
