<h1>Nome: <%= @plan.name %></h1>
<div>
  <dd><%= t('.description') %>: <%= @plan.description %></dd>
  <dd><%= t('.monthly_rate') %>: <%= @plan.monthly_rate %></dd>
  <dd><%= t('.monthly_class_limit') %>: <%= @plan.monthly_class_limit %></dd>
  <% names =[] %>
  <% @plan.class_categories.each { |c| names << c.name } %>
  <dd><%= t('.class_categories') %>: <%= names.join(', ') %></dd>
</div>